.header {
    position: relative;
    text-align: center;
}

/*강한 공군체 Medium*/
@font-face {
    font-family: 'ROKAFSlabSerifMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*바른 공군체 Medium*/
@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #21a4da;
}

.headerTitleSmall {
    position: absolute;
    top: 35%;
    font-size: 40px;
    font-family: 'ROKAFSlabSerifMedium';
}

.headerTitleLarge {
    position: absolute;
    bottom: 40%;
    font-size: 40px;
    font-family: 'ROKAFSansMedium';
}

.headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
}